*{
    padding: 0;
    margin: 0;
}

.parteInicialAvance{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.contenedorInfoAvance .contenidoAvance{
    display: flex;
    flex-direction: column;
}

.contenedorInfoAvance .titulo{
    text-align: left;
}

.contenedorInfoAvance .titulo h2{
    font-weight: bold;
}

.contenedorFotoAvance{
    display: flex;
    flex-direction: row;
    padding: 0px 6% 5px 10px;
    border: 2px solid #B8D3FF;
    margin-left: -400px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}

.contenedorFotoAvance div{
    margin: 5px;
}

.contenedorFotoAvance .fotoPersona{
    height: 150px;
    display: flex;
    text-align: center;
    align-content: center;
    border-radius: 0px;
}

.contenedorFotoAvance .fotoPersona .foto{
    height: 150px;
    border-radius: 70px;
    width: 100px;
    margin-right: 20px;
    -moz-border-radius: 80%;
    -webkit-border-radius: 80%;
}

.informacionAvance{
    display: flex;
    flex-direction: column;
    width: 120px;
    justify-content: center;
}
.informacionAvance p{
    margin-bottom: 10px;
    text-align: left;
}
.informacionAvance .nombreUsuario{
    font-weight: bold;
}
.informacionAvance .area{
    width: 180px;
}

.lineaContenidoAvance .linea{
    width: 680px;
    margin-left: -10px;
}

.contenidoAvance{
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-top: 30px;
}
.infoContenidoAvance{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.puntajeAvance{
    display: flex;
    flex-direction: row;
}
.puntajeAvance p{
    margin-right: 20px;
}
.fechaEntregaAvance{
    display: flex;
    flex-direction: row;
    margin-left: 240px;
}
.fechaEntregaAvance .fecha{
    margin-right: 20px;
}