*{
    margin: 0;
    padding: 0;
}

.contenidoBotonAdviser{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 500px;
    margin-top: 20px;
    border: 0;
    cursor: pointer;
    user-select: none;
    border: 2px solid #D0E0F9;
    background-color: white;
    border-radius: 4px;
}
.contenidoTituloBotonAdviser{
    display: flex;
    flex-direction: row;
    background: #D0E0F9;
    padding: 10px 6px 6px 10px;
    margin-bottom: 0px;
    border-radius: 4px 4px 0px 0px;
}

.sesionEscrita{
    display: flex;
    flex-direction: column;
    width: 320px;
    align-items: flex-start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    color: #152536;
    justify-content: center;
    text-align: left;
    margin-left: 20px;
    margin-right: 40px;
}
.sesionEscrita p{
    margin-bottom: 0px;
}

.imgAdviser{
    height: 100px;
    width: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 0px;
}


.tituloPrincipal h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #042354;
    padding: 10px 10px 10px 10px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 40px;
}

.estadoAdviser{
    display: flex;
    width: 400px;
    margin-left: 30px;
    align-content: center;
    justify-content: flex-start;
    text-align: left;
    height: 50px;
    color: #525861;
    margin-bottom: 40px;
}
.contenidoAbajo{
    background-color: #D0E0F9;
    border-radius: 0px 0px 4px 4px;
    max-height: 200px;
    min-height: 200px;
}
.contenidoAbajo2{
    background-color: white;
    border-radius: 0px 0px 4px 4px;
    max-height: 170px;
    min-height: 170px;
    max-width: 497px;
    min-width: 497px;
}