*{
    margin: 0;
    padding: 0;
}

.contenedorHeader{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    text-align: left;
    align-items: flex-start;
}
.contenedorHeader div{
    margin-top: 0px;
    margin-bottom: 10px;
}

.tituloHeader{
    text-align: left;
}
.portafolioHeaderRevisor{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}

.contenedorLineaHeader .linea{
    width: 1160px;
    height: 0;
    border: 0.1px solid black;
}