.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;

    button {
      background-color: #042354;
      border: none;
      padding: 5px 10px;
      border-radius: 3px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      svg {
          width: 10px;
      }
    }

    button[disabled] {
      background-color: #042354;
      cursor: no-drop;
    }

  
    input {
      height: 30px;
      width: 60px;
      text-align: center;
      border: 1px solid #042354;
      border-radius: 10px;
    }

    
}