*{
    margin: 0;
    padding: 0;
}

.contenedorPrincipalPartFacultyAdmin{
    display: flex;
    flex-direction: column;
    margin-left: 280px;
    margin-top: 10px;
}

.contenedorBotoneriaFacultyAdmin{
    margin-bottom: 20px;
}

.contenedorCardsFacultyAdmin{
    margin-left: 10px;
    margin-bottom: 30px;
}