.mainProposeContainer {
  padding: 0;
  margin-left: 300px;
}

.MPheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15px;
  /* margin-left: 280px; */
}

.MPheader .MPtitle {
  color: #152536;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

.MPProposeList {
  margin-top: 20px;
display: flex;
flex-direction: column;
/* margin-left: 280px; */
}

.contenedorMPPLtittle{
  margin-top: -4%;
}

.MPPLtitle {
  margin-top: 0px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
}

.MPPbut{
  margin-left: 100px;
}

.MPPbutton {
    background: #042354;
    border-radius: 4px;
    border: 0px;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}


.MPPbutton:hover{
  background: #49797c
}

.MPPinfo{
  margin-left: 275px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 0;
}

.MPPcomponenteAviso{
  width: 1100px;
  height: 100px;
  left: 419px;
  top: 297px;
  background: #F0F5F8;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.MPPcardAviso{
  width: 700px;
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  gap: 20px;
}