*{
    margin: 0px;
    padding: 0px;
}

.main-edit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
}

.general-content-edit{
    display: flex;
    flex-direction: column ;
    align-items: left;
    justify-content: left;
    margin-left: 80px;
}

.general-content-edit .separador-edit{
    margin-left: 90px;
    width: 1100px;
    color: #CED4DA
}


.header-add-edit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-left: 80px; */
    margin-left: -100px;
    gap: 700px;
}

.header-add-edit .titulo-edit{
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
}

.header-add-edit .back-but-edit{
    border: 0;
    background-color: #0A819B;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    user-select: none;
}

.header-add-edit .back-but-edit:hover{
    background-color: #658cbc;
}

.add-content-edit{
    display: flex;
    flex-direction:column;
    justify-content: left;
    align-items: left;
}

.add-content-edit .subtitulo-edit{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 560px;
}

.add-content-edit .subtitulo-edit p{
    font-size: 30px;
}

.seccion-tiempo-edit{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    margin-top: 20px;
    margin-left: 40px;
    gap: 40px;
}

.seccion-tiempo-edit .hora-inicio-edit p{
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.seccion-tiempo-edit .hora-fin-edit p{
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.seccion-tiempo-edit .espacio-sobrado-edit{
    width:260px;
}

.seccion-tesis-edit{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-top: 30px;
    margin-bottom: 50px;
}

.seccion-tesis-edit p{
    display: flex;
    justify-content: left;
    align-items: left;
}

.nombre-tema-tesis-edit{
    font-size: 20px;
    color: #042354;
}

.fecha-edicion-edit{
    font-size: 15px;
    margin-bottom: 40px;
}

.descripcion-tema-tesis-edit{
    border: 2px solid #CED4DA;
    height: 200px; 
    background-color: #CED4DA;
}

.seccion-asesor-alumno-edit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 50px;
}

.foto-asesor-edit{
    width: 70px;
    border-radius: 50%;
    margin-top: 10px;
}

.foto-alumno-edit{
    width: 50px;
    border-radius: 50%;
    margin-top: 10px;
}

.foto-jurado-edit{
    width: 70px;
    border-radius: 50%;
    margin-top: 10px;
}

.seccion-jurado-edit{
    border: 2px solid #B8D3FF;
    width: 200px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.jurado-edit{
    width: 200px;
    height: 200px;
    border-bottom: 1px solid #B8D3FF;
}

.alumno-edit{
    width: 200px;
    height: 200px;
    border-bottom: 1px solid #B8D3FF;
}

.seccion-asesor-edit{
    border: 2px solid #B8D3FF;
    width: 200px;
    height: 200px;
    /* margin-top: 5px; */
}

.nombre-jurado-edit{
    font-weight: bold;
    width: 150px;
    color: #152536;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nombre-asesor-edit{
    font-weight: bold;
    color: #152536;
    width: 150px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.carrera-asesor-edit, .carrera-alumno-edit, .carrera-jurado-edit{
    color: #152536;
    width: 150px;
    margin-left: 20px;
}

.seccion-alumno-edit{
    border: 2px solid #B8D3FF;
    width: 200px;
    height: 200px;   
    overflow-y: scroll;
    overflow-x: hidden;
    /* margin-top: 5px; */
}

.nombre-alumno-edit{
    font-weight: bold;
    color: #152536;
    width: 150px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bloque-completo{
    display: flex;
    flex-direction: column;
}

.subtitulo-tipo{
    font-weight: bold;
    margin-bottom: 5px;
}

.seccion-no-jurado-edit{
    margin-top: 80px;
}

.seccion-botones{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 70px;
    justify-content: center;
    align-items: center;
}

.btn-registrar{
    border: 0;
    background: #042354;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    color: white;
    cursor: pointer;
    user-select: none;
    margin-right: 5px;
}

.btn-registrar:hover{
    background-color: #4c87e6;  
}

.btn-cancelar{
    border: 0;
    background: #79B4B7;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    color: white;
    cursor: pointer;
    user-select: none;
}

.btn-cancelar:hover{
    background-color: #6fe3e9; 
}