*{
    margin: 0%;
    padding: 0px;
}
.main-class{
    display: flex;
    flex-direction: row;
    border: 2px solid #B8D3FF;
    justify-content: left;
    align-items: center;
    height: 120px;
    width: 1030px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: #B8D3FF;
}

.imagen-alumno{
    max-width: 70px;
    height: 70px;
    margin-right: 50px;
    margin-left: 80px;
    display: flex;
    justify-content: left;
}

.foto-alumno{
    max-width: 60px;
    height: auto;
    border-radius: 50%;
}


.info-alumno{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-left: 20px; ;
    margin-right: 60px;
    margin-top: 10px;
    width: 300px;
    /* border: 1px solid black; */
}

.info-alumno .nombre-alumno{
    font-weight: bold;
}

.info-entrega{
    margin-top: 10px;
    margin-right: 100px;
}

.botoneria{
    display: flex;
    flex-direction: row;
    gap: 30px;
    border: none !important;
}

.botoneria .info i{
    border: none !important;
    background-color: transparent;
}

.botoneria .info{
    border: none;
    background: none;
    color: green;
}

.botoneria .edit{
    border: none;
    background: none;
    color: blue;
}

.botoneria .delete{
    border: none;
    background: none;
    color: red;
}