*{
    padding: 0;
    margin: 0;
}

.contenedorGeneralAvance{
    display: flex;
    border-color: #F4F4F4;
    flex-direction: column;
    align-items: center;
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    height: 430px;
    min-width: 270px;
    max-width: 270px;
    cursor: pointer;
    user-select: none;
    margin-right: 20px;
}

.entregableAvance{
    font-size: 24px;
    font-weight: bold;
    color: #042354;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin-top: 10px;
}

.imagenAvanceVerde, .imagenAvanceRojo, .imagenAvanceAmarillo, .imagenVistoBueno{
    height: 60px;
    margin-bottom: 15px;
}
.imagenAvanceVerde{
    height: 55px;
    filter: contrast(0%) sepia(1) hue-rotate(50deg) saturate(900%);
}
.imagenAvanceAmarillo{
    filter: contrast(0%) sepia(1) hue-rotate(20deg) saturate(1000%);
}
.imagenAvanceRojo{
    filter: contrast(10%) sepia(1) hue-rotate(-40deg) saturate(10000%);
}
.imagenVistoBueno{
    filter: contrast(10%) sepia(1) hue-rotate(179deg) saturate(1000%);
}

.numeroAvance, .adicionalAvance, .fechaAvance, .SinDetalle, .VistoBueno,
.nombreSinCalificar, .nombreCalificado, .nombreAsignado{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin-bottom: 10px;
}
.numeroAvance{
    font-size: 40px;
    margin-bottom: 10px;
    color: #0A819B;
}
.fechaAvance{
    font-size: 24px;
    font-weight: bold;
}

.nombreCalificado{
    color: rgb(59, 192, 59);
}
.nombreSinCalificar{
    color: #af9e2f;
}
.nombreAsignado{
    color: red;
}
.VistoBueno{
    color: rgb(29, 111, 198);
}