*{
    margin: 0;
    padding: 0;
}

.contenedorCuartaParteCoordinador{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    height: 160px;
}
.contenedorCuartaParteCoordinador h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
}
.contenedorComentarioFourthPart{
    border: 1px solid #CED4DA;
    border-radius: 4px;
    background: #FAF9F8;
    text-align: justify;
    height: 100px;
    width: 1160px;
}
.contenedorComentarioFourthPart p{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}