*{
  margin: 0px;
  padding: 0px;
}

.mainUserRegistryContainer {
  margin-left: 290px;
  margin-top: 10px;
}

.contenedorPrimeraParteUserRegistry{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}